<div class="confirmation-feedback-modal">
    <div class="modal-header">
        <h3 class="modal-title">Summary</h3>
        <div class="modal-dismiss"><img class="svg-icon" ng-click="cancel()" role="button" src="resources/svg/close.svg" width="28px" height="28px"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table class="table">
                    <tr ng-repeat="stage in serviceItem.stages | orderBy: '-timestamp.start'">
                        <td>{{stage.getType()}}</td>
                        <td>{{stage.getStartTime()}}</td>
                        <td>{{stage.getDuration()}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">

            </div>
        </div>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="sendLater()">Send later</button>
        <button class="btn btn-warning" type="button" ng-click="submit()">Submit confirmation report</button>
    </div>
</div>