
#page-wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.modal-dialog {
  margin: 20px;
  width: auto;
  .modal-content {
    border-radius: 0;
  }
}

.confirmation-feedback-modal {
  .modal-header {
    .modal-title {

    }
    .modal-dismiss {
      position: absolute;
      right: 15px;
      top: 15px;
      .svg-icon {

      }
    }
  }
  .modal-body {

  }
  .modal-footer {

  }
}